<div class='cart-item d-flex align-items-center'>
  <div class='cart-item-thumbnail'>
    <img src='/assets/images/beats-solo-red.png' alt='' />
  </div>
  <div class='ml-3'>
    <h4>Beats Solo Wireless Headphones</h4>
    <i class='font-weight-bold'>$99.98</i>
  </div>
  <input class='ml-auto' type='number' />
</div>