<div class='product item-details-page is-zoomed'>
  <div class='product-image'>
    <img src='/assets/images/beats-solo-red.png' alt='' />
  </div>
  <div class='product-details'>
    <section>
      <h3>Beats Solo Wireless Headphones</h3>
      <div class='text-warning'>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star'></i>
        <i class='fa fa-star-half-o'></i>
      </div>
    </section>

    <section>
      <del class='small text-black-50'>$199.95</del>
      <i class='text-danger font-weight-bold'>$99.98</i>
    </section>

    <div class='d-flex justify-content-between align-items-end'>
      <div>
        <h5>Color</h5>
        <div class='product-colors active-red'>
          <span class='product-color color-red'></span>
          <span class='product-color color-black'></span>
        </div>
      </div>
      <button class='btn btn-info' type='button'>
        <i class='fa fa-shopping-cart mr-1'></i>
        Add to cart
      </button>
    </div>
  </div>
</div>