<main class='container mt-5'>
  <Header @pageName={{this.pageName}} />
  <section class='w-50 ml-auto text-right mb-5'>
    <div class='row'>
      <span class='col'>Subtotal</span>
      <span class='col'>$0.00</span>
    </div>
    <div class='row'>
      <span class='col'>Tax</span>
      <span class='col'>$0.00</span>
    </div>
    <div class='row'>
      <span class='col'>Total</span>
      <span class='col'>$0.00</span>
    </div>
  </section>

  <button class='btn btn-success float-right' type='button'>
    Check out
  </button>
</main>