<a id='ember109' class='ember-view cart-link' href='/shopping-cart'>
  <i class='fa fa-shopping-cart'></i>
  <span
    class='cart-count d-inline-flex justify-content-center align-items-center'
  >
    02
  </span>
</a>
<main class='container mt-5'>
  <a id='ember110' class='ember-view product' href='/item/1'>
    <div class='product-image'>
      <img src='/assets/images/beats-solo-red.png' alt='' />
    </div>
    <div class='product-details'>
      <section>
        <h3>Beats Solo Wireless Headphones</h3>
        <div class='text-warning'>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star-half-o'></i>
        </div>
      </section>

      <section class='h4'>
        <del class='small text-black-50'>$199.95</del>
        <i class='text-danger font-weight-bold'>$99.98</i>
      </section>

      {{!----}}
    </div>
  </a>
  <a id='ember111' class='ember-view product' href='/item/2'>
    <div class='product-image'>
      <img src='/assets/images/nike-af1-white.png' alt='' />
    </div>
    <div class='product-details'>
      <section>
        <h3>Nike Aire Force 1</h3>
        <div class='text-warning'>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star-half-o'></i>
        </div>
      </section>

      <section class='h4'>
        <del class='small text-black-50'>$109.95</del>
        <i class='text-danger font-weight-bold'>$89.98</i>
      </section>

      {{!----}}
    </div>
  </a>
</main>