<a id='ember104' class='ember-view cart-link' href='/shopping-cart'>
  <i class='fa fa-shopping-cart'></i>
</a>
<main class='container mt-5'>
  <div class='product item-details-page is-zoomed'>
    <div class='product-image'>
      <img src='/assets/images/beats-solo-red.png' alt='' />
    </div>
    <div class='product-details'>
      <section>
        <h3>Beats Solo Wireless Headphones</h3>
        <div class='text-warning'>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star'></i>
          <i class='fa fa-star-half-o'></i>
        </div>
      </section>

      <section>
        <del class='small text-black-50'>$199.95</del>
        <i class='text-danger font-weight-bold'>$99.98</i>
      </section>

      <div class='d-flex justify-content-between align-items-end'>
        <div>
          <h5>Color</h5>
          <div class='product-colors active-red'>
            <span class='product-color color-red'></span>
            <span class='product-color color-black'></span>
          </div>
        </div>
        <button class='btn btn-info' type='button'>
          <i class='fa fa-shopping-cart mr-1'></i>
          Add to cart
        </button>
      </div>
    </div>
  </div>
  <h5 class='mt-5'>Features</h5>
  <ul>
    <li>High-performance wireless noise cancelling headphones in red</li>
    <li>Active Noise Cancelling (ANC) blocks external noise</li>
    <li>
      Transparency helps you stay aware of your surroundings while listening
    </li>
    <li>
      Features the Apple H1 Headphone Chip and Class 1 Bluetooth for extended
      range and fewer dropouts
    </li>
    <li>Compatible with iOS and Android</li>
    <li>
      Hands-free controls via “Hey Siri” on iOS devices, and voice capability
      with the push of the b button on a variety of compatible devices
    </li>
    <li>
      Up to 22 hours of listening time (up to 40 hours with ANC and Transparency
      turned off)
    </li>
  </ul>
</main>